* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree";
}

.richtext p:not(:last-child),
.richtext ul:not(:last-child),
.richtext li:not(:last-child),
.richtext ol:not(:last-child) {
  margin-bottom: 10px;
}

.richtext ul {
  padding-left: 16px;
}

.flexible-tab-section {
  background-color: #27272a;
}

.container {
  max-width: 1230px;
  width: 100%;
  padding-inline: 20px;
  margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Geist";
}

.flexible-tab {
  transition: all 0.5s ease-in-out;
  list-style: none;
  gap: 0px;
  width: 100%;
  display: flex;
  width: max-content;
  flex-shrink: 0;
  flex-grow: 1;
  justify-content: center;
  min-width: fit-content;
  border-bottom: 1px solid #ffffff26;
}

.flexible-tab-wrapper {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  transition: all 0.5s ease-in-out;
}

.flexible-tab-item {
  transition: all 0.5s ease-in-out;
  user-select: none;
  min-width: 230px;
  color: #a4a4b3;
  padding: 24px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.flexible-tab-item::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: red;
  position: absolute;
  bottom: 0px;
  left: 0;
  opacity: 0;
}

/* @keyframes tab-animatio {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes tab-animatio-long {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
} */

.flexible-tab-content-wrapper {
  display: none;
  padding-top: 100px;
}

.flexible-tab-item.current::after {
  color: white;
  opacity: 1;
   animation: tab-animatio 5s infinite;
}
.flexible-tab-item.clicked::after {
  animation: tab-animatio 10s infinite;
}

.flexible-tab-content-wrapper.current {
  display: block;
}

.flexible-tab-item:not(:last-child) {
  border-right: 1px solid #ffffff26;
}

.flexible-tab-content-item {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.flexible-tab-content-wrapper.flexible-tab-column-reverse
  .flexible-tab-content-item {
  flex-direction: row-reverse;
}

.flexible-tab-content-left {
  flex-shrink: 0;
  width: 40%;
  color: white;
}

.flexible-tab-title {
  font-size: 40px;
  margin-bottom: 16px;
  line-height: 1.2;
}

.flexible-tab-desc {
  margin-bottom: 28px;
  line-height: 1.6;
}

.flexible-btn-primary {
  display: block;
  text-decoration: none;
  width: fit-content;
  color: black;
  background-color: white;
  font-weight: 600;
  padding: 14px 20px;
  border-radius: 30px;
  transition: all 0.5s ease-in-out;
  border: 1px solid transparent;
}

.flexible-btn-primary:hover {
  color: white;
  background-color: transparent;
  border: 1px solid white;
}

.flexible-tab-content-right {
  width: 50%;
}

.flexible-tab-content-img {
  /* aspect-ratio:1; */
  height: 100%;
  margin-right: var(--container-margin-right);
}

.flexible-tab-content-img img {
  display: block;
  object-fit: cover;
  object-position: left;
  min-height: 0;
  width: 100%;
  height: 100%;
}

.flexible-tab-content-img video{
border-radius: 20px;
  width: 100%;
  height: 100%;
  min-height: 0;
}
.flexible-tab-service-icon {
height:60px;
width: auto;
aspect-ratio: 1;
  color: aliceblue;
}
.flexible-tab-service-icon svg{
  color: aliceblue;
  display: block;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 1024px) {
  .flexible-tab-content-img {
    max-height: 700px;
  }

  .flexible-tab-content-left {
    padding-bottom: 70px;
  }
}

@media only screen and (max-width: 1280px) {
  .flexible-tab-title {
    font-size: 34px;
  }
}

@media only screen and (max-width: 1023px) {
  .flexible-tab-content-wrapper {
    padding-top: 50px;
  }

  .flexible-tab-content-left {
    width: 50%;
    padding-bottom: 60px;
  }

  .flexible-tab-content-item {
    gap: 20px;
  }

  .flexible-tab-title {
    font-size: 28px;
    margin-bottom: 14px;
  }

  .flexible-tab-desc {
    margin-bottom: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .flexible-tab-section {
    padding-bottom: 50px;
  }

  .flexible-tab-item {
    min-width: 180px;
    padding: 18px 20px;
  }

  .flexible-tab-content-wrapper.flexible-tab-column-reverse
    .flexible-tab-content-item {
    flex-direction: column;
  }

  .flexible-tab-content-item {
    flex-direction: column;
    gap: 50px;
  }

  .flexible-tab-content-left {
    width: 100%;
    padding-bottom: 0;
  }

  .flexible-tab-content-right {
    width: 100%;
  }

  .flexible-tab-desc {
    margin-bottom: 20px;
  }

  .flexible-btn-primary {
    padding: 14px;
  }
}
