* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree";
}

.richtext p:not(:last-child),
.richtext ul:not(:last-child),
.richtext li:not(:last-child),
.richtext ol:not(:last-child) {
  margin-bottom: 10px;
}

.richtext ul {
  padding-left: 16px;
}

.flexible-tab-section {
  margin-bottom: 100px;
  background-color: #27272a;
}

.flexible-tab-container {
  max-width: 1320px;
  width: 100%;
  padding-inline: 20px;
  margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Geist";
}

.flexible-tab {
  transition: all 0.5s ease-in-out;
  list-style: none;
  gap: 0px;
  width: 100%;
  display: flex;
  width: max-content;
  flex-shrink: 0;
  flex-grow: 1;
  justify-content: center;
  min-width: fit-content;
  border-bottom: 1px solid #ffffff26;
}

.flexible-tab-wrapper {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  transition: all 0.5s ease-in-out;
}

.flexible-tab-item {
  flex-shrink: 0;
  transition: all 0.5s ease-in-out;
  user-select: none;
  min-width: 230px;
  color: #a4a4b3;
  padding: 24px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.flexible-tab-item::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: #ff5c35;
  position: absolute;
  bottom: 0px;
  left: 0;
  opacity: 0;
  transition: width 0.3s ease;
}

.flexible-tab-item svg path {
  stroke-dashoffset: 0;
  animation: svg-line-progress 5s linear forwards;
}
.flexible-tab-item svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.flexible-tab-item rect {
  fill: none;
  stroke: red;
  stroke-width: 3;
  stroke-dasharray: 517.749;
  stroke-dashoffset: 517.749;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 1.9;
  stroke-opacity: 1;
  width: 99%;
  height: 97%;
  transition: stroke-dashoffset 0.5s linear;
  /* fill: none;
  display: block;
  stroke: red;
  height: 96%;
  width: 109%;
  stroke-width: 3;
  stroke-dasharray: 517.749;
  stroke-dashoffset: 467.749;
   stroke-linecap: round;
   stroke-linejoin: round;
     stroke-miterlimit: 1.9;
      stroke-opacity: 1;
  transition: stroke-dashoffset 0.5s linear; */
}

@keyframes dashLoop {
  0% {
    stroke-dashoffset: 517.749;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.flexible-tab-item.current {
  color: white;
}
.flexible-tab-section.flexible-tab-v2 .flexible-tab-item.current svg {
  opacity: 1;
}
.flexible-tab-section.flexible-tab-v2 .flexible-tab-item.current::after {
  display: none;
}
.flexible-tab-section.flexible-tab-v2 .flexible-tab-item.current rect {
  animation: dashLoop 5s linear forwards;
}
.flexible-tab-item.current::after {
  opacity: 1;
  animation: tab-progress 5s linear forwards;
}

.flexible-tab-item.clicked::after {
  animation: tab-progress 5s linear forwards;
}

.flexible-tab-item.paused::after {
  animation-play-state: paused;
}

.flexible-tab-section.flexible-tab-v2 .flexible-tab-item.paused rect {
  animation-play-state: paused;
}

.flexible-tab-item.stopped::after {
  animation: none;
  width: 0%;
}

@keyframes tab-progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.flexible-tab-play-wrapper {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.flexible-tab-play-btn {
  /* position: absolute; */
  background-color: #ff5c35;
  color: white;
  padding: 10px;
  z-index: 5;
  border-radius: 50%;
  height: 50px;
  aspect-ratio: 1;
  width: auto;
  bottom: 12px;
  left: 0;
  cursor: pointer;
  transition: transform 0.3s ease;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 32 32" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M13 5v22a3 3 0 0 1-3 3H9a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3h1a3 3 0 0 1 3 3zm10-3h-1a3 3 0 0 0-3 3v22a3 3 0 0 0 3 3h1a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3z" data-name="Layer 30" fill="%23ffffff" opacity="1" data-original="%23000000" class=""></path></g></svg>');
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
}

.flexible-tab-play-btn.stop-current {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path fill-rule="evenodd" d="M468.8 235.007 67.441 3.277A24.2 24.2 0 0 0 55.354-.008h-.07A24.247 24.247 0 0 0 43.19 3.279a24 24 0 0 0-12.11 20.992v463.456a24.186 24.186 0 0 0 36.36 20.994L468.8 276.99a24.238 24.238 0 0 0 0-41.983z" fill="%23ffffff" opacity="1" data-original="%23000000" class=""></path></g></svg>');
}

.flexible-tab-play-btn:hover {
  transform: scale(1.1);
}

.flexible-tab-content-wrapper {
  display: none;
  padding-top: 100px;
}

.flexible-tab-content-wrapper.current {
  display: block;
}

.flexible-tab-item:not(:last-child) {
  border-right: 1px solid #ffffff26;
}

.flexible-tab-content-item {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.flexible-tab-content-left {
  position: relative;
  flex-shrink: 0;
  width: 40%;
  color: white;
  padding-bottom: 70px;
}

.flexible-tab-title {
  font-size: 40px;
  margin-bottom: 16px;
  line-height: 1.2;
}

.flexible-tab-desc {
  margin-bottom: 28px;
  line-height: 1.6;
}

.flexible-btn-primary {
  display: block;
  text-decoration: none;
  width: fit-content;
  color: black;
  background-color: white;
  font-weight: 600;
  padding: 14px 20px;
  border-radius: 30px;
  transition: all 0.5s ease-in-out;
  border: 1px solid transparent;
}

.flexible-btn-primary:hover {
  color: white;
  background-color: transparent;
  border: 1px solid white;
}

.flexible-tab-content-right {
  width: 50%;
}

.flexible-tab-content-img {
  height: 100%;
  margin-right: var(--container-margin-right);
}

.flexible-tab-content-img img {
  display: block;
  object-fit: cover;
  object-position: left;
  min-height: 0;
  width: 100%;
  height: 100%;
}

.flexible-tab-content-img video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.flexible-tab-service-list {
  color: #27272a;
  display: flex;
  row-gap: 30px;
  margin-inline: -15px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.flexible-tab-service-wrapper {
  padding-inline: 15px;
  width: 50%;
}

.flexible-tab-service {
  text-decoration: none;
  display: block;
  background-color: white;
  list-style: none;
  padding-block: 14px 10px;
  border-radius: 10px;
}

.flexible-tab-service-icon {
  display: flex;
  align-content: center;
  background-color: #ff5c35;
  padding: 10px;
  margin-inline: auto;
  width: fit-content;
  border-radius: 50%;
  color: aliceblue;
  margin-bottom: 10px;
}

.flexible-tab-service-icon svg {
  height: 28px;
  width: auto;
  aspect-ratio: 1;
  color: aliceblue;
  display: inline-block;
}

.flexible-tab-service-title {
  text-align: center;
  color: #27272a;
}
.flexible-tab-section.flexible-tab-v2 {
  padding: 100px 0;
}
.flexible-tab-section.flexible-tab-v2 .flexible-tab {
  gap: 20px;
  border-bottom: none;
}
.flexible-tab-section.flexible-tab-v2 .flexible-tab-item:not(:last-child) {
  border: 1px solid #ffffff26;
}
.flexible-tab-section.flexible-tab-v2 .flexible-tab-item {
  border-radius: 50px;
  overflow: hidden;
}
.flexible-tab-section.flexible-tab-v2 .flexible-tab-item::after {
  border-radius: 50px;
}
.flexible-tab-timeline {
  top: 0;
  /* position: absolute; */
}
/* .flexible-tab-timeline svg{
  height: 20px;
} */
.flexible-tab-section.flexible-tab-v2 .flexible-tab-item:last-child {
  border: 1px solid #ffffff26;
}

.flexible-tab-section.flexible-tab-horizontal .flexible-tab-container {
  display: flex;
  gap: 30px;
}
.flexible-tab-section.flexible-tab-horizontal .flexible-tab-wrapper {
  overflow: scroll;
}
.flexible-tab-section.flexible-tab-horizontal .flexible-tab {
  flex-direction: column;
  justify-content: start;
}
.flexible-tab-section.flexible-tab-horizontal .flexible-tab-item {
  flex-shrink: 0;
}

.flexible-tab-section.flexible-tab-horizontal .flexible-tab-wrapper {
  width: fit-content;
  max-height: 600px;
  gap: 20px;
  flex-shrink: 0;
}

.flexible-tab-section.flexible-tab-horizontal .flexible-tab-content-item {
  flex-direction: row-reverse;
  justify-content: unset;
}
.flexible-tab-section.flexible-tab-horizontal .flexible-tab-content-left {
  width: 50%;
}
.flexible-tab-section.flexible-tab-horizontal .flexible-tab-content-wrapper {
  padding-top: 0;
}
.flexible-tab-section.flexible-tab-horizontal .flexible-tab-content-img {
  margin-right: 0;
}
.flexible-tab-section.flexible-tab-horizontal .flexible-tab-content-img img {
  border-radius: 15px;
}
@media only screen and (max-width: 1276.99px) {
  .flexible-tab-title {
    font-size: 34px;
  }
}

@media only screen and (max-width: 1023.99px) {
  .flexible-tab-content-wrapper {
    padding-top: 50px;
  }

  .flexible-tab-content-left {
    width: 50%;
  }

  .flexible-tab-content-item {
    gap: 20px;
  }

  .flexible-tab-title {
    font-size: 28px;
    margin-bottom: 14px;
  }

  .flexible-tab-desc {
    margin-bottom: 24px;
  }

  .flexible-tab-section.flexible-tab-horizontal .flexible-tab-container {
    flex-direction: column;
  }

.flexible-tab-section.flexible-tab-horizontal .flexible-tab {
  flex-direction: row;
  justify-content: center;
}
.flexible-tab-section.flexible-tab-horizontal .flexible-tab-wrapper {
  width: 100%;
  max-height: 100%;
  gap: 50px;
  flex-shrink: 1;
}
}

@media only screen and (max-width: 767.99px) {
  .flexible-tab-section {
    padding-bottom: 50px;
  }

  .flexible-tab-item {
    min-width: 180px;
    padding: 18px 20px;
  }

  .flexible-tab-content-item {
    flex-direction: column;
    gap: 50px;
  }

  .flexible-tab-content-left {
    width: 100%;
    padding-bottom: 0;
  }

  .flexible-tab-content-right {
    width: 100%;
  }

  .flexible-tab-desc {
    margin-bottom: 20px;
  }

  .flexible-btn-primary {
    padding: 14px;
  }
  .flexible-tab-section.flexible-tab-horizontal .flexible-tab-content-item {
  flex-direction: column;
  justify-content: unset;
}
.flexible-tab-section.flexible-tab-horizontal .flexible-tab-content-left {
  width: 100%;
}
.flexible-tab-section.flexible-tab-horizontal .flexible-tab-content-img img{
  max-height: 500px;
  width: 100%;
}
}
